<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Project</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="./"> <h1>Blog Post</h1></a>
            <p> static template</p>
        </div>
        <ul>
            <li> <a href="./"> Blogs</a></li>
            <li> <a href="./about"> About</a></li>
            <li> <a href="./blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptates asperiores recusandae, tenetur corrupti inventore ullam perferendis adipisci dolor aspernatur assumenda repudiandae doloribus dolore delectus sed similique ut pariatur vero.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis ducimus quod dolores, porro quo, aperiam vel voluptatum repellendus eum repudiandae aut ullam commodi, ad odit quos tenetur. Itaque, repellendus!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque voluptate dolores enim sequi nemo quae eveniet architecto, commodi aperiam voluptas, possimus dicta iste assumenda repudiandae dolorem excepturi? Explicabo, totam ducimus?</p>
    </div>
</body>
</html>